{% extends 'Scheduler/base.html' %}
{% block body %}
{% if events %}
<h3><u>Scheduled Events</u></h3><br>
{% for i in events %}
<h3>{{i}}</h3>
<br>
{% endfor %}
<form method="POST">
    {% csrf_token %}
    <h4>Details Of The Event To Be Deleted</h4><br>
    <input type="textarea" name="key1" placeholder="Description"><br><br>
    <input type="datetime" name="key2" placeholder="Date"><br><br>
    <input type="submit" value="Delete">
</form><br>

{% else %}
<h3>No Events Scheduled To Delete</h3><br>
{% endif %}
<a href="{% url 'options' %}"><input type="button" value="Back"></a><br>

{% for each in messages %}
{{each}}
{% endfor %}
{% endblock %}