{% extends 'Scheduler/base.html' %}
{% block body %}
<h2 style="color: dodgerblue;">Choose A Domain For Your News Feed</h2><br>
<form method="POST">
    {% csrf_token %}
    
    <select name="option" style="width: 7cm;">
        <option value="Top Headlines">Top Headlines</option>
        <option value="Business">Business</option>
        <option value="Health">Health</option>
        <option value="Sports">Sports</option>
        <option value="Science">Science</option>
        <option value="Technology">Technology</option>
        <option value="Entertainment">Entertainment</option> 
      </select><br><br>
<input type="submit" class="btn btn-primary" value="Show Headlines"><br>
</form><br>
<a href="{% url 'options' %}"><input type="button" value="Back"></a>
{% endblock %}