{% extends 'Scheduler/base.html' %}

{% block body %}
<h4 style="color: rgb(162, 83, 214);">Welcome ! <i style="color: rgb(219, 52, 194);">{{user.username}}</i></h4><br>
<form method="POST">
    <a href="{% url 'read'%}"><input type="button" class="btn btn-primary" value="Todo List"></a>
    <a href="{% url 'news'%}"><input type="button" class="btn btn-primary" value="News"></a>
    <a href="{% url 'profile'%}"><input type="button" class="btn btn-success" value="Profile"></a>
    <a href="{% url 'logout'%}"><input type="button"  class="btn btn-warning" value="Log-Out"></a>
    <a href="{% url 'AccountDelete'%}"><input type="button"class="btn btn-danger" value="User Account Deletion"></a>
</form>

{% endblock %}