{% extends 'Scheduler/base.html' %}

{% block body %}
<h4 style="color: rgb(162, 83, 214);">Welcome ! <i style="color: rgb(219, 52, 194);">{{user.username}}</i></h4><br>
<form method="POST">
    <a href="{% url 'create'%}"><input type="button" value="Create"></a>
    <a href="{% url 'read'%}"><input type="button" value="Read"></a>
    <a href="{% url 'update'%}"><input type="button" value="Update"></a>
    <a href="{% url 'delete'%}"><input type="button" value="Delete"></a><br><br>
    <a href="{% url 'profile'%}"><input type="button" value="Profile"></a>
    <a href="{% url 'logout'%}"><input type="button" value="Log-Out"></a>
</form>

{% endblock %}