{% extends 'Scheduler/base.html' %}
{% block body %}
{% if events %}
<h3><u>Scheduled Events</u></h3><br>
{% for i in events %}
<h3>{{i}}</h3>
<br>
{% endfor %}

<form method="POST">
    {% csrf_token %}
    <h4>Details Of The Event To Be Deleted</h4><br>
    <input type="text" name="key1" placeholder="Current Description"><br><br>
    <input type="datetime" name="key2" placeholder="Current Date"><br><br>
    <input type="text" placeholder="New Description" name="new_des"><br><br><input type="datetime" placeholder="New Date" name="new_date"><br><br>
    <input type="submit" value="Update">
</form><br>
{% else %}
<h3>No Events Scheduled To Update</h3><br>
{% endif %}
<a href="{% url 'options' %}"><input type="button" value="Back"></a><br>
{% for each in messages %}
{{each}}
{% endfor %}
{% endblock %}